@use "./partials/common" as *;
@use "./partials/reset" as *;
@use "./partials/variables" as *;
@use "./partials/mixin" as *;
@use "./partials/utils" as *;
@use "./partials/typography" as *;

/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

body {
    background: linear-gradient(90deg, #007660, #e30613);
}

a {
    text-decoration: none;
}

.logo {
    border-radius: 5px 5px 0 0;
}

.status {
    height: 15px;
    vertical-align: baseline;
}
